.navbar-nav {
  margin-left: 100px;

}

.navbar-nav a {
  color: white !important;
  font-weight: 500 !important;
}

.navbar-nav li {
  padding-left: 60px;
}

.nav-bgcolor {
  background-color: #2209e07f;

}

.navmother {
  width: 100%;
  height: 100px;
  position: absolute !important;
  top: 0;
  margin: 0%;
  padding: 0%;
  background: hsl(239, 95%, 48%);
  z-index: 1;
  box-shadow: 0 5px 5px #e10cecbe;
  align-items: center;

}

.nav-p {
  margin-bottom: 100px;
}